openapi: 3.0.1
info:
  title: Musixmatch Album Snippets API
  description: '

    The most powerful and legal way to display lyrics on your website or in

    your application. Musixmatch lyrics API is a robust service that permits

    you to search and retrieve lyrics in the simplest possible way.'
  termsOfService: http://musixmatch.com/apiterms/
  contact:
    name: Musixmatch
    url: https://musixmatch.com
    email: info@musixmatch.com
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 1.1.0
servers:
- url: https://api.musixmatch.com/ws/1.1
security:
- key: []
tags:
- name: Snippets
paths:
  /track.snippet.get:
    get:
      tags:
      - Snippets
      parameters:
      - name: format
        in: query
        description: 'output format: json, jsonp, xml.'
        schema:
          type: string
          default: json
      - name: callback
        in: query
        description: jsonp callback
        schema:
          type: string
      - name: track_id
        in: query
        description: The musiXmatch track id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      header:
                        type: object
                        properties:
                          status_code:
                            type: number
                            description: ''
                          execute_time:
                            type: number
                            description: ''
                      body:
                        type: object
                        properties:
                          snippet:
                            $ref: '#/components/schemas/Snippet'
      security:
      - key: []
components:
  schemas:
    Snippet:
      title: a Snippet object
      type: object
      properties:
        html_tracking_url:
          type: string
          description: ''
        instrumental:
          type: number
          description: ''
        restricted:
          type: number
          description: ''
        updated_time:
          type: string
          description: ''
        snippet_body:
          type: string
          description: ''
        pixel_tracking_url:
          type: string
          description: ''
        snippet_id:
          type: number
          description: ''
        script_tracking_url:
          type: string
          description: ''
        snippet_language:
          type: string
          description: ''
      description: Snippet of lyrics text in the Musixmatch database.
  securitySchemes:
    key:
      type: apiKey
      name: apikey
      in: query
externalDocs:
  description: Find out more about Musixmatch API
  url: https://developer.musixmatch.com/
x-original-swagger-version: '2.0'
