openapi: 3.0.1
info:
  title: Musixmatch Album Lyrics API
  description: '

    The most powerful and legal way to display lyrics on your website or in

    your application. Musixmatch lyrics API is a robust service that permits

    you to search and retrieve lyrics in the simplest possible way.'
  termsOfService: http://musixmatch.com/apiterms/
  contact:
    name: Musixmatch
    url: https://musixmatch.com
    email: info@musixmatch.com
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 1.1.0
servers:
- url: https://api.musixmatch.com/ws/1.1
security:
- key: []
tags:
- name: Lyrics
  description: ''
paths:
  /matcher.lyrics.get:
    get:
      tags:
      - Lyrics
      parameters:
      - name: format
        in: query
        description: 'output format: json, jsonp, xml.'
        schema:
          type: string
          default: json
      - name: callback
        in: query
        description: jsonp callback
        schema:
          type: string
      - name: q_track
        in: query
        description: The song title
        schema:
          type: string
      - name: q_artist
        in: query
        description: The song artist
        schema:
          type: string
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      header:
                        type: object
                        properties:
                          status_code:
                            type: number
                            description: ''
                          execute_time:
                            type: number
                            description: ''
                      body:
                        type: object
                        properties:
                          lyrics:
                            $ref: '#/components/schemas/Lyrics'
      security:
      - key: []
  /track.lyrics.get:
    get:
      tags:
      - Lyrics
      parameters:
      - name: format
        in: query
        description: 'output format: json, jsonp, xml.'
        schema:
          type: string
          default: json
      - name: callback
        in: query
        description: jsonp callback
        schema:
          type: string
      - name: track_id
        in: query
        description: The musiXmatch track id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      header:
                        type: object
                        properties:
                          status_code:
                            type: number
                            description: ''
                          execute_time:
                            type: number
                            description: ''
                      body:
                        type: object
                        properties:
                          lyrics:
                            $ref: '#/components/schemas/Lyrics'
      security:
      - key: []
components:
  schemas:
    Lyrics:
      title: a Lyrics object
      type: object
      properties:
        instrumental:
          type: number
          description: ''
        pixel_tracking_url:
          type: string
          description: ''
        publisher_list:
          type: array
          items:
            type: string
            description: ''
        lyrics_language_description:
          type: string
          description: ''
        restricted:
          type: number
          description: ''
        updated_time:
          type: string
          description: ''
        explicit:
          type: number
          description: ''
        lyrics_copyright:
          type: string
          description: ''
        html_tracking_url:
          type: string
          description: ''
        lyrics_language:
          type: string
          description: ''
        script_tracking_url:
          type: string
          description: ''
        verified:
          type: number
          description: ''
        lyrics_body:
          type: string
          description: ''
        lyrics_id:
          type: number
          description: ''
        writer_list:
          type: array
          items:
            type: string
            description: ''
        can_edit:
          type: number
          description: ''
        action_requested:
          type: string
          description: ''
        locked:
          type: number
          description: ''
      description: a Lyrics in the Musixmatch database.
  securitySchemes:
    key:
      type: apiKey
      name: apikey
      in: query
externalDocs:
  description: Find out more about Musixmatch API
  url: https://developer.musixmatch.com/
x-original-swagger-version: '2.0'
