openapi: 3.0.1
info:
  title: Musixmatch Album API
  description: '

    The most powerful and legal way to display lyrics on your website or in

    your application. Musixmatch lyrics API is a robust service that permits

    you to search and retrieve lyrics in the simplest possible way.'
  termsOfService: http://musixmatch.com/apiterms/
  contact:
    name: Musixmatch
    url: https://musixmatch.com
    email: info@musixmatch.com
  license:
    name: MIT
    url: http://opensource.org/licenses/MIT
  version: 1.1.0
servers:
- url: https://api.musixmatch.com/ws/1.1
security:
- key: []
tags:
- name: Album
  description: ''
paths:
  /album.get:
    get:
      tags:
      - Album
      parameters:
      - name: format
        in: query
        description: 'output format: json, jsonp, xml.'
        schema:
          type: string
          default: json
      - name: callback
        in: query
        description: jsonp callback
        schema:
          type: string
      - name: album_id
        in: query
        description: The musiXmatch album id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      header:
                        type: object
                        properties:
                          status_code:
                            type: number
                            description: ''
                          execute_time:
                            type: number
                            description: ''
                      body:
                        type: object
                        properties:
                          album:
                            $ref: '#/components/schemas/Album'
      security:
      - key: []
  /artist.albums.get:
    get:
      tags:
      - Album
      parameters:
      - name: format
        in: query
        description: 'output format: json, jsonp, xml.'
        schema:
          type: string
          default: json
      - name: callback
        in: query
        description: jsonp callback
        schema:
          type: string
      - name: artist_id
        in: query
        description: The musiXmatch artist id
        required: true
        schema:
          type: string
      - name: s_release_date
        in: query
        description: Sort by release date (asc|desc)
        schema:
          type: string
      - name: g_album_name
        in: query
        description: Group by Album Name
        schema:
          type: string
      - name: page_size
        in: query
        description: Define the page size for paginated results.Range is 1 to 100.
        schema:
          type: number
      - name: page
        in: query
        description: Define the page number for paginated results
        schema:
          type: number
      responses:
        '200':
          description: The request was successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      header:
                        type: object
                        properties:
                          available:
                            type: number
                            description: ''
                          status_code:
                            type: number
                            description: ''
                          execute_time:
                            type: number
                            description: ''
                      body:
                        type: object
                        properties:
                          album_list:
                            type: array
                            description: A list of albums
                            items:
                              type: object
                              properties:
                                album:
                                  $ref: '#/components/schemas/Album'
      security:
      - key: []
components:
  schemas:
    Album:
      title: a Album object
      type: object
      properties:
        album_coverart_500x500:
          type: string
          description: ''
        restricted:
          type: number
          description: ''
        artist_id:
          type: number
          description: ''
        album_name:
          type: string
          description: ''
        album_coverart_800x800:
          type: string
          description: ''
        album_copyright:
          type: string
          description: ''
        album_coverart_350x350:
          type: string
          description: ''
        artist_name:
          type: string
          description: ''
        primary_genres:
          type: object
          properties:
            music_genre_list:
              type: array
              items:
                type: object
                properties:
                  music_genre:
                    type: object
                    properties:
                      music_genre_name_extended:
                        type: string
                        description: ''
                      music_genre_vanity:
                        type: string
                        description: ''
                      music_genre_parent_id:
                        type: number
                        description: ''
                      music_genre_id:
                        type: number
                        description: ''
                      music_genre_name:
                        type: string
                        description: ''
        album_id:
          type: number
          description: ''
        album_rating:
          type: number
          description: ''
        album_pline:
          type: string
          description: ''
        album_track_count:
          type: number
          description: ''
        album_release_type:
          type: string
          description: ''
        album_release_date:
          type: string
          description: ''
        album_edit_url:
          type: string
          description: ''
        updated_time:
          type: string
          description: ''
        secondary_genres:
          type: object
          properties:
            music_genre_list:
              type: array
              items:
                type: string
                description: ''
        album_mbid:
          type: string
          description: ''
        album_vanity_id:
          type: string
          description: ''
        album_coverart_100x100:
          type: string
          description: ''
        album_label:
          type: string
          description: ''
      description: a album of songs in the Musixmatch database.
  securitySchemes:
    key:
      type: apiKey
      name: apikey
      in: query
externalDocs:
  description: Find out more about Musixmatch API
  url: https://developer.musixmatch.com/
x-original-swagger-version: '2.0'
